<div class="row">
  <div class="col-md text-center">
    <form action="/submit" method="post" id="url-form">
      <div class="mb-6 m-2 p-1">
        <label for="exampleInputEmail1" class="form-label display-6">Please enter the URL, the UEL require "https://" or
          "http://"</label>
        <input type="text" class="form-control bg-secondary p-2 text-dark bg-opacity-10" name="urlstring"
          id="url-string" placeholder="Input URL here" required>
      </div>
      <button type="submit" class="btn btn-primary m-2" id="url-submit">Shorten</button>
    </form>
  </div>
</div>
<script src="./javascripts/index.js"></script>