<div class="row">
  <div class="col-md text-center">
    <form action="/submit" method="post">
      <div class="mb-6 m-2 p-1">
        <input type="text" class="form-control bg-secondary p-2 text-dark bg-opacity-10" name="urlstring" id="urlstring"
          placeholder="Input URL here" required>
      </div>
      <button type="submit" class="btn btn-primary m-2">Shorten</button>
    </form>
  </div>
</div>