<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>404 Not Found</title>
</head>
<h1>404 Not Found</h1>
<p>Maybe short URLs doesn't exist.</p>
<a href="http://localhost:3000/" class="btn btn-secondary m-2 p-1" style="text-decoration:none;">Go To Home</a>