<div class="row">
  <div class="col-md text-center">
    <h3 class=".fs-1 text fw-bold m-2 p-1">
      Success! Please use this link:
    </h3>
    <a href="http://localhost/{{shortUrlData.shortString}}" class=" m-2 p-1" id="url-link" style="text-decoration:none;"
      target="_blank">http://localhost/{{shortUrlData.shortString}}</a>
    <div>
      <button type="button" class="btn btn-primary m-2 p-1" id="copy-button">Copy Link</button>
    </div>
    <div>
      <a href="http://localhost:3000/" class="btn btn-secondary m-2 p-1" style="text-decoration:none;">Go To Home</a>
    </div>
  </div>
</div>
<script src="./javascripts/myscript.js"></script>